<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: header"></div>

<table border="1" style="width:300px;margin-left: auto; margin-right: auto;margin-top:20px">
<thead>
    <tr>
        <th>
            Team Id
        </th>
        <th>
            Team Name
        </th>
    </tr>
    </thead>
    <tbody id = "teamTable">
    <tr th:each="team: ${teams}">
        <td>
            <a th:text="${team.id}" th:href="@{/teams/{id}(id=${team.id})}"></a>
        </td>
        <td>
            <a th:text="${team.teamName}" th:href="@{/teams/{id}(id=${team.id})}"></a>
        </td>
    </tr>


    </tbody>

    </table>

<head> <title> Teams </title></head>
<body> Click on a team to see their games!! </body>
</html>